
<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, 'error') %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </p>


        Liste :
        <% @list_t = []%>

        <% @list_teacher.each do |teacher| %>
            <div>
              <%= check_box_tag "product[category_ids][]", teacher.id, @course.teachers<<(teacher) %>
              <%= teacher.name %>
              <%= teacher.firstName %>
            </div>
        <%end%>
    <% @course.teachers.each do |teacher| %>
        <p>
        <%= teacher.name %>
        <%= teacher.firstName %>
        </p>
   <%end %>

  </p>
  <p class="actions">
    <%= f.submit %>
  </p>
<% end %>
</div>