
<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, 'error') %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </p>
  <p class="field">
    <%= f.label :startingHour %><br>
    <%= f.number_field :startingHour %>
  </p>
  <p class="field">
    <%= f.label :finishHour %><br>
    <%= f.number_field :finishHour %>
  </p>
  <p class="field">
      <%= f.label :program %><br>
      <%= f.text_area :program %>
    </p>
  <p class="field">
    <%= f.label :day%>
    <%= f.select(:day, options_for_select([['Monday', 0], ['Tuesday', 1], ['Wednesday', 2], ['Thursday', 3], ['Friday', 4]])) %>
  </p>


  </p>
  <p class="actions">
    <%= f.submit %>
  </p>
<% end %>
</div>