
<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, 'error') %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p class="field">
    <label>Description</label><br>
    <%= f.text_area :desc %>
  </p>
  <p class ="field">
  <label>Avatar of the course</label>
  <%= f.file_field :avatar %>
  <%= f.hidden_field :avatar_cache %>
  </p>
  <p class="field">
    <%= f.label :program %><br>
    <%= f.text_area :program %>
  </p>






    </p>
  <p class="actions">
    <%= f.submit %>
  </p>
<% end %>
</div>