
<h1>Editing course</h1>

<%= render 'form' %>

<%= form_for @course, :html => {:multipart => true} do |f| %>
    <p>
      <label>My Avatar</label>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    </p>

    <p>
      <%= f.submit(:avatar) %>
    </p>

<% end %>

<h2><a title="Timetable" name="timetable"></a>Time and days of the lesson</h2>

<% @list = @course.timetables.to_a.sort_by {|m| [m.day, m.hour]}%>
<% @list.each do |timetable| %>

    <p>
      <strong>Day:</strong>
      <% var= '';
         case timetable.day
           when 0
             var = 'Monday';
           when 1
             var = 'Tuesday';
           when 2
             var = 'Wednesday';
           when 3
             var = 'Thursday';
           when 4
             var = 'Friday';
         end
      %>
      <%= var %>
    </p>

    <p>
      <strong>Hour:</strong>
      <%= timetable.hour %>
    </p>

    <p>
      <strong>Room:</strong>
      <%= timetable.room %>
    </p>

    <p>
    <%= link_to 'Destroy Lesson', [timetable.course, timetable],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
    </p>

<% end %>

<h2>Add a Lesson:</h2>
<%= form_for([@course, @course.timetables.build]) do |f| %>

    <p>
    <%= f.label :day%>
    <%= f.select(:day, options_for_select([['Monday', 0], ['Tuesday', 1], ['Wednesday', 2], ['Thursday', 3], ['Friday', 4]])) %>
    </p>

    <p>
      <%= f.label :hour %><br>
      <%= f.number_field :hour, :min => 8, :max => 17, :value => 8%>
    </p>

    <p>
      <%= f.label :room %><br>
      <%= f.text_field :room %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>
<p>
<h2><a title="Books" name="book"></a>Books</h2>
</p>
<%foo=1%>
<% @course.books.each do |book| %>
    <h3>Book <%=foo%> </h3>
    <p>
      <strong>Title:</strong>
      <%= book.title %>
    </p>

    <p>
      <strong>Desc:</strong>
      <%= book.desc %>

      <%= link_to 'Destroy Book', [book.course, book],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>

    </p>

    <%foo+=1%>
<% end %>

<h2>Add a Book:</h2>
<%= form_for([@course, @course.books.build]) do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :desc %><br>
      <%= f.text_area :desc %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>

    <p>
      Titre

<form action="display" method="get">
  <% @list_teacher.each do |teacher| %>
      <div>
        <%= check_box(:act_checkbox, teacher.id) %>
        <%= teacher.name %>
        <%= teacher.firstName %>
      </div>
  <%end%>
  <input type="submit" value="Submit">
</form>

    </p>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>


