<h2>Timetable</h2>
<% @course = Course.find(params[:id])%>
<% @course.timetables.each do |timetable| %>
    <p>
      <strong>Hour:</strong>
      <%= timetable.hour %>
    </p>

    <p>
      <strong>Day:</strong>
      <% var= '';
         case timetable.day
           when 0
             var = 'Monday';
           when 1
             var = 'Tuesday';
           when 2
             var = 'Wednesday';
           when 3
             var = 'Thursday';
           when 4
             var = 'Friday';
         end
      %>
      <%= var %>
    </p>
<% end %>


<%= link_to 'Show', @course %> |
<%= link_to 'Book', pageBook_course_path(params[:id]) %>
<p></p>
<%= link_to 'Back', courses_path %>

