<div class="col-lg-2">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><%=@course.title %></li>
    <li><%= link_to'Description' ,@course %></li>
    <li><%=link_to'Timetable' ,pageTimetable_course_path(params[:id]) %></li>
    <li><%=link_to'Books' ,pageBook_course_path(params[:id]) %></li>
    <li><%=link_to'Programs' , program_course_path(params[:id]) %></li>
    <li class="active"><%="Page related to "+@course.title %></li>
    <li><%= link_to'Teacher teaching ' ,course_teachers_path(params[:id]) %></li>
    <li><%=link_to'Teaching material used in '+@course.title ,'#' %></li>
    <li><%=link_to'Formation containing ' +@course.title ,@course.formation %></li>
    <li><%=link_to'Test and exam' ,'#' %></li>
  </ul>
</div>

<div class="panel panel-info col-lg-7">
  <div class="panel-heading">
    <h3 class="panel-title"><%='Description'%></h3>
  </div>
  <div class="panel-body">
    <p><%= simple_format(@course.desc) %></p>
    <%= image_tag(@course.avatar_url, :alt => @course.title, :align=> "middle", :class => "avatar")%>

    <p>
      <!-- <strong>Day:</strong>
<% var= '';
   case @course.day
     when 0
       var = 'Monday';
     when 1
       var = 'Tuesday';
     when 2
       var = 'Wednesday';
     when 3
       var = 'Thursday';
     when 4
       var = 'Friday';
   end
    %>
<%= var %>



    </p>-->
    <h3> Teachers:</h3>
      <% @course.teachers.each do |teacher| %>
        <p>
          <%= link_to teacher.name + teacher.firstName,teacher %>
        </p>
    <%end %>

    <% if @course.formation %>

      <div>
      <img src="/images/arrow_left.png" alt="Left arrow" width="52">
      <%= link_to 'Previous course of the formation: ' + @course.formation.name, @course.prev %>

        <div class="right">
          <%= link_to '  Next course of the formation: '  + @course.formation.name, @course.next %>
          <img src="/images/arrow_right.png" alt="Left arrow" width="52">
        </div>
      </div>

    <%= link_to 'Back to formation: '  + @course.formation.name, @course.formation %> |
    <% end %>

    <%= link_to 'Edit this page (only for teachers)', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
  </div>
</div>