<% @course = Course.find(params[:id])
   @titre = @course.title%>
<div class="col-lg-2">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><%=@course.title %></li>
    <li><%= link_to'Description' ,@course %></li>
    <li><%=link_to'Timetable' ,timetable_course_path(params[:id]) %></li>
    <li><%=link_to'Books' ,'#' %></li>
    <li><%=link_to'Programs' , program_course_path(params[:id]) %></li>
    <li class="active"><%="Page related to "+@course.title %></li>
    <li><%= link_to'Teacher teaching '+@course.title ,'#' %></li>
    <li><%=link_to'Teaching material used in '+@course.title ,'#' %></li>
    <li><%=link_to'Formation containing ' +@course.title ,@course.formation %></li>
    <li><%=link_to'Test and exam' ,'#' %></li>
  </ul>
</div>

<div class="panel panel-info col-lg-7">
  <div class="panel-heading">
    <h3 class="panel-title"><%='Timetable'%></h3>
  </div>
  <div class="panel-body">
    <p><%= @course.desc %></p>
  </div>
<!--
  <p>
    <strong>Day:</strong>
    <% var= '';
       case @course.day
         when 0
           var = 'Monday';
         when 1
           var = 'Tuesday';
         when 2
           var = 'Wednesday';
         when 3
           var = 'Thursday';
         when 4
           var = 'Friday';
       end
    %>
    <%= var %>
  </p>
-->
  <%= link_to 'Book', pageBook_course_path(params[:id]) %>
  <%= link_to 'Edit (only for teachers)', edit_course_path(@course) %> |
  <%= link_to 'Back', courses_path %>
