<!-- <%= @titre ="About us"%> -->
<!-- <%= @description ="Here you can find the history and traditions, the principles and the sucess data that are makes our high-school"%> -->

<div class="col-lg-2">
  <ul class="nav nav-pills nav-stacked">
    <li class="active">About us</li>
    <li><%=link_to'History and traditions' ,highschool_info_aboutUs_path %></li>
    <li><%=link_to'Success Data' ,highschool_info_successData_path %></li>
  </ul>
</div>

<div class="panel panel-info col-lg-7">
  <div class="panel-heading">
    <h3 class="panel-title"><%='The mission and educational principless'%></h3>
  </div>
  <div class="panel-body">
    <h3>The mission and education principles</h3>
    In 73 High School BEH, the student is the main agent of his formation. All along the year, students
    are invited to challenge themselves respectfully of their rythm and interests.

    Teachers are always present to support any student in need for their personal development.

    Parents, employees and teachers form a community in which reflexion and decisions are made together for the best of the students.
  </div>
</div>