
<div class="row">
<div class="panel panel-info col-lg-offset-2 col-lg-7">
  <div class="panel-heading">
    <h3 class="panel-title"><%='Formations'%></h3>
  </div>
  <div class="panel-body ">
    <% @formations.each do |formation| %>
        <p><strong><%=link_to formation.name, formation %></strong>
        <%= link_to 'Edit', edit_formation_path(formation) %>
        <%= link_to 'Destroy', formation, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
</div>
</div>
</div>
<p>

<%= link_to 'New Formation', new_formation_path %>
</p>
