<!DOCTYPE html>
<html>
<head>
  <title><%= titre %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to '73 HighSchool BEH', welcome_index_path, class:"navbar-brand"%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%=link_to 'All courses', courses_path%></li>
            <li><a href="#">Years</a></li>
            <li><%=link_to 'Formations', formations_path%></li>
            <li><a href="#">All Classes</a></li>
          </ul>
        </li>
        <li><%=link_to 'Teachers',teachers_path%></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Structures <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">All structures</a></li>
            <li><a href="#">Types of structures</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">All events</a></li>
            <li><a href="#">Coming soon</a></li>
          </ul>
        </li>
        <li><a href="#">Parent's associations</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Information about high school<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Pratical information</a></li>
            <li><a href="#">Student support</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Join us</a></li>
            <li><a href="#">Administrative</a></li>
          </ul>
        </li>

      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <div class="center jumbotron">
    <h1><%=@titre%></h1>
    <h2><%=@description%></h2>
    </div>
  </div>

<%= yield %>

</body>
</html>
