<div class="col-lg-2">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><%=@teacher.firstName + @teacher.name %></li>
    <li><%= link_to'Contact and desk' ,@teacher %></li>
    <li><%=link_to'Timetable' , pageTimetable_teacher_path(params[:id]) %></li>
    <li><%=link_to'CV' , cv_teacher_path(params[:id]) %></li>
    <li class="active"><%="Page related to "+@teacher.name %></li>
    <li><%=link_to' Courses '+ @teacher.firstName + @teacher.name + ' is teaching',courses_teacher_path(params[:id]) %></li>
    <li><%=link_to'Events Organized by '+@teacher.firstName + @teacher.name ,'#' %></li>
  </ul>
</div>

<div class="panel panel-info col-lg-7">
  <div class="panel-heading">
    <h3 class="panel-title"><%='CV of ' + @teacher.firstName + @teacher.name %></h3>
  </div>
  <div class="panel-body">
    <p>
      <% if @teacher.cv? %>
          <% if File.extname(@teacher.cv_url.to_s) == ".pdf" || File.extname(@teacher.cv_url.to_s) == ".html" || File.extname(@teacher.cv_url.to_s) == ".htm"%>
            <iframe src=<%= @teacher.cv_url %> width="600" height="780" style="border: none ;"> </iframe>
          <% else %>
            <%= link_to("Download Resume", @teacher.cv_url, :target => "_blank") if @teacher.cv? %>
          <% end %>
      <% else %>
      No resume available
      <% end%>
    </p>
  </div>
</div>