
<div class="center">
    <span class="dropdown">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Upload a cv <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <%= form_for @teacher, :html => {:multipart => true} do |f| %>
          <li>
            <label>My CV</label>
            <%= f.file_field :cv %>
            <%= f.hidden_field :cv_cache %>
          </li>

          <li>
            <%= f.submit(:cv) %>
          </li>
      <% end %>
    </ul></span>
  <form action="display" method="get">
    <span class="dropdown">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Add/remove courses<span class="caret"></span></button>
    <ul class="dropdown-menu">
    <% @list_courses.each do |course| %>
        <div>
          <%= check_box(:act_checkbox, course.id, {checked:  @teacher.courses.exists?(course)}) %>
          <%= course.title %>
        </div>
    <%end%>
    <input type="submit" value="Submit">
  </form>
  </ul>
<%= render 'form' %>



<%= link_to 'Show', @teacher %> |
<%= link_to 'Back', teachers_path %>
</div>