<div class="col-lg-2">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><%=@teacher.firstName + @teacher.name %></li>
    <li><%= link_to'Contact and desk' ,@teacher %></li>
    <li><%=link_to'Timetable' , pageTimetable_teacher_path(params[:id]) %></li>
    <li><%=link_to'CV' , cv_teacher_path(params[:id]) %></li>
    <li class="active"><%="Page related to "+@teacher.name %></li>
    <li><%=link_to' Courses '+ @teacher.firstName + @teacher.name + ' is teaching',courses_teacher_path(params[:id]) %></li>
    <li><%=link_to'Events Organized by '+@teacher.firstName + @teacher.name ,'#' %></li>
  </ul>
</div>

<div class="panel panel-info col-lg-7">
  <div class="panel-heading">
    <h3 class="panel-title"><%='Information about ' +@teacher.firstName + @teacher.name %></h3>
  </div>
  <div class="panel-body">

  <p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @teacher.firstName %>
</p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Desk:</strong>
  <%= @teacher.desk %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @teacher.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<%= image_tag(@teacher.avatar_url, :alt => @teacher.name, :align=> "middle", :class => "avatar")%>
<p>
  <%= link_to("Download Resume", @teacher.cv_url, :target => "_blank") if @teacher.cv? %>
</p>


    <h3> Courses:</h3>
    <% @teacher.courses.each do |course| %>
        <p>
          <%= link_to course.title,course %>
        </p>
    <%end %>
  </div>

  <%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
</div>