<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @teacher.firstName %>
</p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Desk:</strong>
  <%= @teacher.desk %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @teacher.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<%= image_tag(@teacher.avatar_url, :alt => @teacher.name, :align=> "middle", :class => "avatar")%>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
